{# templates/partials/header.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Coin Goodies - Accueil{% endblock %}

{% block body %}
<h1 class="main-title">Le monde Crypto arrive en physique avec Coin Goodies !</h1>
<div class="container-homepage">
    <div class="logo-box-homepage">
        <div class="text-overlay-homepage">
            <h2 class="overlay-title">Bienvenue sur <br>CoinGoodies ! </h2>
            <p class="overlay-text">Sur CoinGoodies, plongez dans l’univers de la cryptomonnaie ! Découvrez notre sélection exclusive de t-shirts, pièces Bitcoin, ceintures, porte-clés et tote bags. Affichez votre passion pour les cryptomonnaies avec des articles stylés et modernes. Qualité et innovation sont au rendez-vous chez CoinGoodies. Explorez nos collections dès aujourd'hui !</p>
            <a href="" class="btn-voir-articles">Voir nos articles</a>
        </div>
    </div>
    <div class="logo-box-homepage2">
        <div class="text-overlay-homepage">
            <h2 class="overlay-title">-15% sur votre premier achat !</h2>
            <p class="overlay-text">avec le code CRYPTO15</p>
            <a href="" class="btn-voir-articles">Commandez maintenant !</a>
        </div>
    </div>
</div>
<h2>Nos coups de coeur actuels !</h2>
<div class="product-list">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ asset('images/products/' ~ product.image)}}" alt="{{ product.name }}" class="product-image">
        <h3>{{ product.name }}</h3>
        <p class="product-price">{{ product.price }}€</p>
        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn-product">En savoir plus</a>
    </div>
    {% endfor %}
</div>
{% endblock %}