{# filepath: /home/axel/tp1/templates/product/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Nos produits</h1>

    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <a href="{{ path('product_show', {'id': product.id}) }}">
                    <img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.name }}" class="product-image">
                    <h2>{{ product.name }}</h2>
                    <p>Prix : {{ product.price }} €</p><p>EUROS</P<
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}